<html>
    <header>
        <title>
            A (not so) random encounter – Home
        </title>
    </header>
	<div class='form'>
        <form method = 'POST' action="">
            {{ form.hidden_tag() }}
            <div class = "submitform">
                {{form.submit}}
            </div>
        </form>
    </div>
    <body>
        <h1>Your adventure</h1>
        <p>
            Oh no, you've run in to {{ your_adventure }} in {{ your_location }}! What's going to happen? Aaaaaah! {{ your_encounter }}
        </p>
        <h2>Previous adventures:</h2>
        <p>
            {% for encounters in all_adventures %}
            On a previous episode of random adventures, you met {{ encounters.encounter }}
            <br>
            {% endfor %}
        </p>
    </body>
</html>